@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-true: 0 0% 0%;
    --gray-deep: 0 0% 7%; /* #111111 */
    --gray-medium: 0 0% 33%; /* #555555 */
    --gray-light: 0 0% 80%; /* #CCCCCC */
    --white-pure: 0 0% 100%;

    --background: var(--gray-deep);
    --foreground: var(--white-pure);

    --card: var(--gray-deep);
    --card-foreground: var(--white-pure);

    --popover: var(--gray-deep);
    --popover-foreground: var(--white-pure);

    --primary: var(--gray-medium);
    --primary-foreground: var(--white-pure);

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: var(--gray-medium);
    --accent-foreground: var(--white-pure);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: var(--gray-medium);
    --input: var(--gray-medium);
    --ring: var(--gray-light);

    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: var(--black-true);
    --foreground: var(--white-pure);

    --card: var(--gray-deep);
    --card-foreground: var(--white-pure);

    --popover: var(--black-true);
    --popover-foreground: var(--white-pure);

    --primary: var(--gray-medium);
    --primary-foreground: var(--white-pure);

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: var(--gray-deep);
    --muted-foreground: var(--gray-medium);

    --accent: var(--gray-medium);
    --accent-foreground: var(--white-pure);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--gray-medium);
    --input: var(--gray-medium);
    --ring: var(--gray-light);
    
    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-foreground;
    background-image:
      linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: 'Manrope', sans-serif;
  }
}
